html{
    overflow: hidden;
}

body, div, canvas, h1 {
    margin: 0;
    padding: 0;
}
body {
    background: #4ccce4;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
canvas {
  background: white;
}
/* #game {
  position: absolute;
  left: 50%;
  top: 50%;
} */
/* #game-canvas {
  width: 100%;
  height: 100%;
}
@viewport {
    orientation: portrait;
} */